<nav class="flex flex-col gap-2">
    <NavLink class="nav-link" ActiveClass="nav-link-active" href="" Match="NavLinkMatch.All">
        Overview
    </NavLink>
    <NavLink class="nav-link" ActiveClass="nav-link-active" href="monitoring">
        Monitoring
    </NavLink>
</nav>

