@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-gray-100 text-gray-900;
    /* Standard light gray background */
  }
}

@layer utilities {

  /* Utility for data-dense tables */
  .table-dense td,
  .table-dense th {
    @apply py-2 px-3;
  }
}